# -----------------------------------------------------------------------------
# OpenAI API Configuration
# -----------------------------------------------------------------------------
OPENAI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# -----------------------------------------------------------------------------
# Database Configuration
# -----------------------------------------------------------------------------
DATABASE_URL=xxxxxxxxxxxxxxxxxxxxxxxxxxxx
# -----------------------------------------------------------------------------
# AWS SES Configuration
# -----------------------------------------------------------------------------
AWS_REGION="eu-north-1"
AWS_SES_SENDER_EMAIL="sergio@random.com"
AWS_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AWS_ACCESS_KEY_ID=xxxxxxxxxxxxxxxxxxxxx
# -----------------------------------------------------------------------------
# Google OAuth Configuration
# -----------------------------------------------------------------------------
GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxx
# -----------------------------------------------------------------------------
# Security & Encryption
# -----------------------------------------------------------------------------
JWT_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxx
ENCRYPTION_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxx
# -----------------------------------------------------------------------------
# Application Settings
# -----------------------------------------------------------------------------
BASE_URL=http://localhost:8000
ENVIRONMENT=development/production